{% extends 'base.html.twig' %}

{% block body %}
    <div class="container container_nw">

        <h1>!! Edition de Vie De Merde !!</h1>


        <div class="well"> {{ form_start(edit_form) }}
            <div class="titre2">
                {{ form_label(edit_form.titre) }}
                {{ form_errors(edit_form.titre) }}
                {{ form_widget(edit_form.titre) }}
            </div>

            <div class="text2">
                {{ form_label(edit_form.text) }}
                {{ form_errors(edit_form.text) }}
                {{ form_widget(edit_form.text) }}
            </div>
            <div class="genre2">
                {{ form_label(edit_form.genre) }}
                {{ form_errors(edit_form.genre) }}
                {{ form_widget(edit_form.genre) }}
            </div>
            <div class="auteur2">
                {{ form_label(edit_form.auteur) }}
                {{ form_errors(edit_form.auteur) }}
                {{ form_widget(edit_form.auteur) }}
            </div>
            <div class="date2">
                {{ form_label(edit_form.date) }}
                {{ form_errors(edit_form.date) }}
                {{ form_widget(edit_form.date) }}
            </div>
            <div class="">
                {{ form_widget(edit_form) }}

                <input type="submit" class="submit submit2" value="Edit" />
                <ul>
                    <li>
                        <a href="{{ path('vdm_index') }}">Back to the list</a>
                    </li>
                    <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>

            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
