{% extends 'base.html.twig' %}

{% block body %}
    <h1>!! Vie De Merde Au Camping !!</h1>

        {% for vdm in vdms %}
            <div class="block">
                <h3>{{ vdm.titre }}</h3>
                <div class="text">
                    <p>{{ vdm.text }}</p>
                </div>
                <div class="date">
                    <p>Date de création : {{ vdm.date|date('Y-m-d H:i:s') }}</p>
                </div>
                <div class="genre">
                    <p> Catégorie : {{ vdm.genre }} <br>
                        Auteur : {{ vdm.auteur }}</p>
                </div>
                <div class="boutton">
                    <a href="{{ path('vdm_show', { 'id': vdm.id }) }}">Voir plus</a>
                </div>
                <div class="boutton_2">
                    <a href="{{ path('vdm_edit', { 'id': vdm.id }) }}">Edition</a>
                </div>
            </div>
        {% endfor %}
    <div class="create">
        <a href="{{ path('vdm_new') }}">Créer une nouvelle VDM</a>
    </div>

{% endblock %}
