{% extends 'base.html.twig' %}

{% block body %}
    <h1>!! Vie De Merde plus en détail !!</h1>

    <div class="block">
        <h3>{{ vdm.titre }}</h3>
        <div class="text">
            <p>{{ vdm.text }}</p>
        </div>
        <div class="date">
            <p>Date de création : {{ vdm.date|date('Y-m-d H:i:s') }}</p>
        </div>
        <div class="genre">
            <p> Catégorie : {{ vdm.genre }} <br>
                Auteur : {{ vdm.auteur }}</p>
        </div>
        <div class="boutton_2">
            <a href="{{ path('vdm_edit', { 'id': vdm.id }) }}">Edition</a>
        </div>
        <div class="b1">
            <a href="{{ path('vdm_index') }}">Retour a la liste</a>
        </div>
        <div class="b3">
                {{ form_start(delete_form) }}
                    <input type="submit" class="submit" value="Delete">
                {{ form_end(delete_form) }}
        </div>
    </div>

{% endblock %}
